
@{
    ViewBag.Title = "Fitness";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section>
    <img class="d-block w-100" src="~/Content/Images/Screenshot_7.png" style="width:100%!important" />
</section>

<section style="background-color:gold; text-align:center!important;">
    <div class="">
        <button class="btn" style=" border:none; background-color:gold; text-align: center; text-decoration: none;  font-size: 20px; font-weight: bold; font-family:'Segoe UI Historic'; ">FITNESS</button>-
        <button class="btn" style=" border:none; background-color:gold; text-align: center; text-decoration: none;  font-size: 20px; font-weight: bold; font-family:'Segoe UI Historic'; ">BESLENME</button>-
        <button class="btn" style=" border:none; background-color:gold; text-align: center; text-decoration: none;  font-size: 20px; font-weight: bold; font-family:'Segoe UI Historic'; ">YASAM</button>
    </div>
</section>
<br />
<section>
    <div class="container">
        <div class="row">
            <div class="card text-center col-lg-12 ">

                <div class="card-body">
                    <h2 class="card-title">Üst, alt ve yan karın kaslarını çalıştıracak en etkili hareketler yazımızda.</h2>
                </div>

                <div class="card-body" style="text-align:center;">
                    <p class="card-text">
                        Eğer karın kaslarını çalıştıracak ve seni hayalindeki six pack’e kavuşturacak egzersizler arıyorsan sana iyi bir haberimiz var. <br />
                        Karın kaslarını çalıştırmak için uygulayabileceğin birçok hareket mevcut. <br />Hatta şöyle de diyebiliriz,
                        doğrudan karın kaslarına odaklanan hareketler yapmasan bile karın kaslarının vücudunun merkezinde bulunması onların yaptığın her
                        harekette çalışmasını sağlıyor.<br /> Ancak elbette direkt olarak karın kaslarına odaklanan egzersizler seni hedefine daha hızlı ulaştırıyor.<br />
                        Hedefine ulaşmanda sana yardım etmek için üst, alt ve yan karın kaslarına odaklanan ve 4 hareketten oluşan üç ayrı set oluşturduk.
                    </p>
                </div>

                <div class="card-body">
                    <h2 class="card-title">Karın Kası Egzersizlerini Nasıl Uygulayacaksın?</h2>
                </div>

                <div class="card-body" style="text-align:center;">
                    <p class="card-text">

                        Aşağıda anlatacağımız her bir karın kası egzersiz setini, asıl antrenmanının sonunda uygulayabilirsin.
                        Dairesel bir biçimde yapabileceğin bu karın kası hareketleri maksimum sayıda kas lifini hızlı ve etkili bir biçimde çalıştırmak üzere tasarlandı. <br />
                        Aşağıda sayacağımız 3 ayrı gruptaki dört hareketi ardı ardına yapmalı ve sana belirttiğimiz tekrar sayısını ve dinlenme sürelerini uygulamayı unutmamalısın.<br />

                        Her egzersiz setindeki ilk hareket dört hareketin içinden en zoru, ardından hareketler sırasıyla kolaylaşıyor, ancak tekrar sayısı artıyor. Bu da karın kaslarının daha uzun süre, daha fazla gerilmesini sağlıyor.<br />
                        Sonuncu hareketten sonra sana belirttiğimiz süre boyunca dinlen, ardından seti tekrarla. Tüm hareketleri toplam üç set olarak uygulamalısın.

                    </p>
                </div>


                <div class="card-body">
                    <h2 class="card-title">Üst Karın Kası Egzersizleri</h2>
                </div>
                <div class="card-body">
                    <h4 class="card-title"> 1. Dumbell ile Mekik</h4>
                </div>
                <div class="card-body" style="text-align:center;">
                    <p class="card-text">

                        10 Tekrar yap <br />

                        10 Saniye dinlen <br />

                        Sırt üstü yat, iki elinle göğüs kafesinin önünde bir dumbell’i ya da bir ağırlık plakasını tut. Üst karın kaslarındaki gerginliği hissederek gövdeni kaldır ve ardından yeniden indir.

                    </p>
                </div>

                <div class="card-body">
                    <h4 class="card-title"> 2. Mekik & Bacak Kombo</h4>
                </div>
                <div class="card-body" style="text-align:center;">
                    <p class="card-text">

                        15 Tekrar yap <br />

                        10 Saniye dinlen<br />

                        Ellerini başının altına yerleştirerek yere yat. Bacakların dizlerin 90 derecelik bir açıyla bükülü olacak şekilde havada olsun. Aynı anda gövdeni yerden kaldırırken bacaklarını göğsüne doğru çek. Hareket boyunca parmakların şakaklarında olsun ve tekrarlar arasında ayakların yere değmesin.

                    </p>
                </div>

                <div class="card-body">
                    <h4 class="card-title">3. V Şeklinde Mekik</h4>
                </div>
                <div class="card-body" style="text-align:center;">
                    <p class="card-text">

                        12 Tekrar yap<br />

                        10 Saniye dinlen<br />

                        Bacaklarını havaya kaldırıp onları yere paralel bir biçimde uzatarak sırt üstü yat. Kollarını da yerden yukarıda, gövdenin iki yanında dümdüz uzat. <br />Kollarını düz tutmaya devam ederek dizlerini kır ve bacaklarını kendine doğru çek. Böylece dizlerin göğsünle buluşsun. Ardından yeniden ilk pozisyona dön.

                    </p>
                </div>


                <div class="card-body">
                    <h4 class="card-title">4. Mekik</h4>
                </div>
                <div class="card-body" style="text-align:center;">
                    <p class="card-text">
                        20 Tekrar yap<br />

                        20 Saniye dinlen<br />

                        Dizlerin bükülü, ayakların yerde olacak şekilde sırt üstü yat. Kollarını göğsünde kavuştur. Üst karın kaslarını kullanarak gövdeni kaldır ve indir. <br /> Üst karın kaslarında yorgunluk hissetsen de, her bir tekrarda gövdeni en az bir saniye boyunca yukarıda tutmaya özen göster.

                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<hr />
<!-- Footer -->
<footer class="page-footer section-gap-half bg-dark w-100 pl-5 pr-5 pt-4 pb-4">

    <!-- Footer Elements -->
    <div class="container">

        <!-- Call to action -->
        <ul class="list-unstyled list-inline text-center py-2 ">
            <li class="list-inline-item text-light ">
                <h5 class="mb-1">Ücretsiz Kayıt Ol</h5>
            </li>
            <li class="list-inline-item ">
                <a href="/Users/Login" class="btn btn-outline-light btn-rounded">Giriş Yap</a>
            </li>
        </ul>
        <!-- Call to action -->

    </div>
    <!-- Footer Elements -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-4">
        © 2020 EduGym Tüm Hakları Saklıdır :
        <a href="https://www.edugym.com/"> edugym.com</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->