
@{
    ViewBag.Title = "Food";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section>
    <img class="d-block w-100" src="~/Content/Images/Screenshot_5.png" style="width:100%!important" />
</section>

<section style="background-color:gold; text-align:center!important;">
    <div class="">
        <button class="btn" style=" border:none; background-color:gold; text-align: center; text-decoration: none;  font-size: 20px; font-weight: bold; font-family:'Segoe UI Historic'; ">FITNESS</button>-
        <button class="btn" style=" border:none; background-color:gold; text-align: center; text-decoration: none;  font-size: 20px; font-weight: bold; font-family:'Segoe UI Historic'; ">BESLENME</button>-
        <button class="btn" style=" border:none; background-color:gold; text-align: center; text-decoration: none;  font-size: 20px; font-weight: bold; font-family:'Segoe UI Historic'; ">YASAM</button>
    </div>
</section>
<br />
<section>
    <div class="container">
        <div class="row">
            <div class="card text-center col-lg-12 ">

                <div class="card-body">
                    <h2 class="card-title">
                        Günde ne kadar protein tüketmelisin? Protein alabileceğin en iyi kaynakları biliyor musun? <br />
                        Proteine dair merak ettiğin tüm bilgileri senin için derledik.
                    </h2>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Neden Proteine İhtiyaç Duyarız?</h4>
                </div>
                <div class="card-body" style="text-align:center;">
                    <p class="card-text">
                        Protein, vücudundaki doku, kas ve hücre yapımı ile hormon ve antikor üretimi gibi birçok önemli fonksiyondan sorumlu temel bir besin maddesidir. <br />
                        Bu yüzden de herkes beslenmesinde proteine ihtiyaç duyar. <br />
                        Ancak özellikle dayanıklılık sporları veya ağırlık çalışması antrenmanları yapıyorsan protein alımını artırmanın sayısız
                        faydasını görebilir ve kas kütlenin artışını deneyimleyebilirsin.
                        <br />
                        Yapılan bilimsel çalışmalar ayrıca yaşı ilerleyen insanların protein tüketmesinin faydalarını ortaya koyuyor. Çünkü protein yaşlanmanın beraberinde getirdiği kas kaybını azaltıyor.
                    </p>
                </div>

                <div class="card-body">
                    <h2 class="card-title">Ne Kadar Protein Tüketmelisin?</h2>
                </div>

                <div class="card-body" style="text-align:center;">
                    <p class="card-text">
                        Çoğu kişi için vücut ağırlığının 1 kilogramı başına, günlük 0,8 ila 1 gram arası protein tüketimi öneriliyor.  <br />
                        Ağırlık kaldıranlar veya güç sporlarıyla ilgilenenler içinse bu doz 1,4 ila 2 gram arasında değişiyor. <br />
                        Proteini özellikle de egzersiz sonrası tüketmek çok önemli çünkü bu, kaslarının iyileşmesini ve gelişmesini sağlıyor. <br />
                        Kaslarının protein sentezlemeye en fazla cevap verdiği zaman olan egzersizin ilk 30 dakikası içinde 15-25 gram arası miktarda protein tüketmen de bir diğer öneri.
                    </p>
                </div>


                <div class="card-body">
                    <h2 class="card-title">Çok Fazla Protein Tüketirsem Ne Olur?</h2>
                </div>

                <div class="card-body" style="text-align:center;">
                    <p class="card-text">

                        Çoğu kişi için günlük tüketilmesi gereken protein miktarı sağlıklı ve dengeli bir beslenme ile kolayca sağlanabilir.
                        Sağlık uzmanlarının, yetişkin bireyleri günlük almaları gereken protein miktarının iki katından daha fazlasını tüketmemeleri gerektiği  <br />
                        konusunda uyardığını da belirtmek gerek.
                        Çünkü fazla protein tüketimi, uzun vadede kemik erimesi riskini artırma veya var olan bir böbrek hastalığını ciddileştirme gibi sorunlara yol açabiliyor. <br />
                        Beslenme uzmanları protein alımının günün öğünlerine yayılması gerektiğini de söylüyor.
                        <br />
                        Şimdi yüksek oranda protein içeren gıdalara göz atalım.
                    </p>
                </div>

                <div class="card-body">
                    <h2 class="card-title"> Yüksek Oranda Protein İçeren Besinler</h2>
                </div>
                <div class="card-body">
                    <h4 class="card-title"> Yumurta</h4>
                </div>
                <div class="card-body" style="text-align:center;">
                    <p class="card-text">
                        Orta boy bir yumurtada yaklaşık 6 gram protein bulunur. Güne başlamak için sağlıklı bir omlet iyi bir tercih olacak.
                        Aynı zamanda spor sonrası iyileşme günlerin için de…
                    </p>
                </div>

                <div class="card-body">
                    <h4 class="card-title"> Süt</h4>
                </div>
                <div class="card-body" style="text-align:center;">
                    <p class="card-text">
                        Süt ürünleri proteinle dolu olmalarının yanı sıra kemik gelişimine yardım eden kalsiyumu da içerirler.
                        Çikolatalı süt spor sonrası kaslarını iyileştirmek için tüketebileceğin en klasik ara öğünlerdendir. <br />
                        Bunun yerine süt bazlı bir orman meyveli smoothie de içebilirsin.
                    </p>
                </div>


                <div class="card-body">
                    <h4 class="card-title">Balık ve Deniz Ürünleri</h4>
                </div>
                <div class="card-body" style="text-align:center;">
                    <p class="card-text">
                        Balıklar ve deniz ürünleri hem iyi birer protein kaynağıdır hem de genel olarak düşük yağ oranına sahiplerdir.
                        Somon gibi biraz daha yağlı alternatifler ise sağlıklı <br />
                        Omega-3 yağ asitleri içerdiğinden eklemlerdeki tutuklukları ve enflamasyonu azaltırlar.
                    </p>
                </div>

                <div class="card-body">
                    <h4 class="card-title">Tavuk ve Hindi</h4>
                </div>
                <div class="card-body" style="text-align:center;">
                    <p class="card-text">
                        Tavuk ya da hindi gibi kümes hayvanlarından yağsız protein sağlayabilirsin.
                    </p>
                </div>

                <div class="card-body">
                    <h4 class="card-title">Kuru Yemişler</h4>
                </div>
                <div class="card-body" style="text-align:center;">
                    <p class="card-text">
                        Kuru yemişler en pratik protein kaynağı seçeneklerin olacak.
                        Elli civarı antep fıstığı sana 6 gram protein sağlar; üstelik bunun yanında sodyum ve potasyum desteği de verir.<br />
                        Bu ikisi, egzersiz sırasında terlediğinde vücudunun kaybettiği maddelerdir.
                    </p>
                </div>

                <div class="card-body">
                    <h4 class="card-title">Baklagiller</h4>
                </div>
                <div class="card-body" style="text-align:center;">
                    <p class="card-text">
                        Baklagiller hem harika hem de ekonomik protein kaynaklarıdır.
                        Ayrıca bu besinler lif bakımından zenginlerdir ve senin için harika bir bitkisel demir kaynağı rolünü üstlenirler.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<hr />
<!-- Footer -->
<footer class="page-footer section-gap-half bg-dark w-100 pl-5 pr-5 pt-4 pb-4">

    <!-- Footer Elements -->
    <div class="container">

        <!-- Call to action -->
        <ul class="list-unstyled list-inline text-center py-2 ">
            <li class="list-inline-item text-light ">
                <h5 class="mb-1">Ücretsiz Kayıt Ol</h5>
            </li>
            <li class="list-inline-item ">
                <a href="/Users/Login" class="btn btn-outline-light btn-rounded">Giriş Yap</a>
            </li>
        </ul>
        <!-- Call to action -->

    </div>
    <!-- Footer Elements -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-4">
        © 2020 EduGym Tüm Hakları Saklıdır :
        <a href="https://www.edugym.com/"> edugym.com</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
