
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));
        width: 100%;
        background-repeat: no-repeat;
    }
</style>
<section>
    <img class="" src="~/Content/Images/header-stretch.jpg" style="width:100%!important;">
</section>

<section style="background-color:gold; text-align:center!important;">
    <div class="">
        <button class="btn" style=" border:none; background-color:gold; text-align: center; text-decoration: none;  font-size: 20px; font-weight: bold; font-family:'Segoe UI Historic'; ">FITNESS</button>-
        <button class="btn" style=" border:none; background-color:gold; text-align: center; text-decoration: none;  font-size: 20px; font-weight: bold; font-family:'Segoe UI Historic'; ">BESLENME</button>-
        <button class="btn" style=" border:none; background-color:gold; text-align: center; text-decoration: none;  font-size: 20px; font-weight: bold; font-family:'Segoe UI Historic'; ">YASAM</button>
    </div>
</section>
<br />
<br />
<section>
    <div class="container">
        <div class="row">
            <div class="card text-center col-lg-6 ">

                <div class="card-body">
                    <h4 class="card-title">EN ETKİLİ KARIN KASI EGZERSİZLERİ</h4>
                    <h6 class="card-subtitle text-muted">April 16, 2020 | FITNESS</h6>
                </div>
                <center>
                    <img src="~/Content/Images/karın.jpg" style="width:100%!important;" />
                </center>
                <div class="card-body">
                    <p class="card-text">Üst, alt ve yan karın kaslarını çalıştıracak en etkili hareketler yazımızda. Eğer karın kaslarını çalıştıracak ve seni hayalindeki six pack’e kavuşturacak...</p>
                    <a href="/FitBlog/Fitness" class="btn btn-primary">Habere Git</a>
                </div>

            </div>
            <div class="card text-center col-lg-6">

                <div class="card-body">
                    <h4 class="card-title">PROTEİN ALABİLECEĞİN EN İYİ KAYNAKLAR</h4>
                    <h6 class="card-subtitle text-muted">April 16, 2020 | BESLENME</h6>
                </div>
                <center>
                    <img src="~/Content/Images/shutterstock_691900390-1180x787.jpg" style="width:95%!important;" />
                </center>
                <div class="card-body">
                    <p class="card-text">Günde ne kadar protein tüketmelisin? Protein alabileceğin en iyi kaynakları biliyor musun? Proteine dair merak ettiğin tüm bilgileri senin için derledik....</p>
                    <a href="/FitBlog/Food" class="btn btn-primary">Habere Git</a>
                </div>

            </div>
            <div class="card text-center col-lg-6 ">

                <div class="card-body">
                    <h4 class="card-title">BAĞIŞIKLIĞINI NASIL GÜÇLENDİREBİLİRSİN ?</h4>
                    <h6 class="card-subtitle text-muted">Mar 31, 2020 | YAŞAM</h6>
                </div>
                <center>
                    <img src="~/Content/Images/shutterstock_617837774-1180x787.jpg" style="width:100%!important;" />
                </center>
                <div class="card-body">
                    <p class="card-text">Bağışıklık sistemini güçlendirerek hastalıklara karşı direncini artırman için dikkat etmen gerekenler ve sağlıklı beslenme önerilerimiz. Vücudumuzun...</p>
                    <a href="/FitBlog/Live" class="btn btn-primary">Habere Git</a>
                </div>

            </div>
            <div class="card text-center col-lg-6">

                <div class="card-body">
                    <h4 class="card-title">OFİSTE ABUR CUBURA GEÇİT VERME</h4>
                    <h6 class="card-subtitle text-muted">Jan 28, 2020 | BESLENME</h6>
                </div>
                <center>
                    <img src="~/Content/Images/shutterstock_168813386.jpg" style="width:100%!important;" />
                </center>
                <div class="card-body">
                    <p class="card-text">Ofis masasında elin sürekli abur cubura gidiyorsa bir de bu sağlıklı atıştırmalıkları dene! Belki de kilo alma riskiyle en fazla karşı karşıya geldiğin yer...</p>
                    <a href="/FitBlog/Office" class="btn btn-primary">Habere Git</a>
                </div>

            </div>
        </div>

    </div>

</section>

<hr />

<!-- Footer -->
<footer class="page-footer section-gap-half bg-dark w-100 pl-5 pr-5 pt-4 pb-4">

    <!-- Footer Elements -->
    <div class="container">

        <!-- Call to action -->
        <ul class="list-unstyled list-inline text-center py-2 ">
            <li class="list-inline-item text-light ">
                <h5 class="mb-1">Ücretsiz Kayıt Ol</h5>
            </li>
            <li class="list-inline-item ">
                <a href="/Users/Login" class="btn btn-outline-light btn-rounded">Giriş Yap</a>
            </li>
        </ul>
        <!-- Call to action -->

    </div>
    <!-- Footer Elements -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-4">
        © 2020 EduGym Tüm Hakları Saklıdır :
        <a href="https://www.edugym.com/"> edugym.com</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
