
@{
    ViewBag.Title = "Live";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section>
    <img class="d-block w-100" src="~/Content/Images/Screenshot_4.png" style="width:100%!important" />
</section>

<section style="background-color:gold; text-align:center!important;">
    <div class="">
        <button class="btn" style=" border:none; background-color:gold; text-align: center; text-decoration: none;  font-size: 20px; font-weight: bold; font-family:'Segoe UI Historic'; ">FITNESS</button>-
        <button class="btn" style=" border:none; background-color:gold; text-align: center; text-decoration: none;  font-size: 20px; font-weight: bold; font-family:'Segoe UI Historic'; ">BESLENME</button>-
        <button class="btn" style=" border:none; background-color:gold; text-align: center; text-decoration: none;  font-size: 20px; font-weight: bold; font-family:'Segoe UI Historic'; ">YASAM</button>
    </div>
</section>
<br />
<section>
    <div class="container">
        <div class="row">
            <div class="card text-center col-lg-12 ">

                <div class="card-body">
                    <h2 class="card-title">
                        Bağışıklık sistemini güçlendirerek hastalıklara karşı direncini<br /> artırman için dikkat etmen gerekenler ve sağlıklı beslenme önerilerimiz.
                    </h2>
                </div>
                <div class="card-body" style="text-align:center;">
                    <p class="card-text">
                        Vücudumuzun anti-virüs programı olan bağışıklığımız, tanıdığı ve hakkında bilgi sahibi olduğu her virüse karşı elinden geldiğince savaşıyor.<br />
                        Bizim üstümüze düşense bağışıklık sistemini güçlü ve güncel tutmak. Fakat bu sistemi güncel tutabilmek için tek bir besin veya besin öğesi yeterli olamıyor.<br />
                        Bu nedenle birbirinden farklı virüslere karşı işe yarayacak şekilde, farklı ve çeşitli beslenip, bağışıklığına iyi gelecek her besinden,
                        yani her savaşçıdan faydalanmalısın.
                        <br />
                        İşte bağışıklık sistemini güçlü ve güncel tutmak için dikkat etmen gereken noktalar:
                    </p>
                </div>

                <div class="card-body">
                    <h4 class="card-title">Kilona Dikkat Et</h4>
                </div>

                <div class="card-body" style="text-align:center;">
                    <p class="card-text">
                        Özellikle de, daha çok evde olduğumuz bu günlerde kilomuza daha fazla dikkat etmek gerekiyor. Çünkü daha fazla yağ, daha kuvvetsiz bir bağışıklık sistemi demek.<br />

                        Evinde hazırlayacağın sağlıklı atıştırmalıklar, düzenli beslenme ve evde yapacağın egzersizler ile bu dönemi sağlıkla atlatabilirsin.<br />



                        İşte birkaç sağlıklı atıştırmalık fikri:<br />

                        – Salatalık ve havuçları jülyen şekilde doğrayıp biraz baharatla ve yoğurtla hazırlayacağın bir dip sos ile tüketebilirsin.<br />

                        – Beyaz leblebi atıştırmalık için iyi olsa da miktarını abartmamalısın. Bir çay bardağı ideal bir miktar olacak.<br />

                        – Pancar ve nohut cipslerini deneyebilirsin.<br />

                        – Yağsız ve tuzsuz olarak hazırlayacağın yarım çay bardağı patlamış mısır da film izlerken seni oyalayacak bir başka sağlıklı atıştırmalık.<br />

                        Bir şey atıştırmaya başlamadan önce bu cümleyi hep aklına getirmelisin: “Madem kalori alacağım, bari sağlıklı ve içi dolu olsun”. Örneğin bir paket diyet bisküvi ortalama 200 kaloridir, bunu tüketmek yerine 35-40 gram çiğ kuruyemiş tüketmek, alacağın 200 kalorinin daha faydalı olmasını sağlar.
                        <br />
                        Bağışıklığımızı daha da kuvvetlendirmek için yapmamız gerekenlere bakmaya devam edelim.
                    </p>
                </div>


                <div class="card-body">
                    <h4 class="card-title">Egzersiz Yapmaya Dikkat Et</h4>
                </div>


                <div class="card-body" style="text-align:center;">
                    <p class="card-text">

                        Evde kaldığımız bu dönemde spor salonlarından da uzak kaldık ancak egzersiz yapmanın hem zihinsel hem de fiziksel faydalarını unutmamalı ve evde de spor yapmaya devam etmelisin. Bunun için aslında pek çok seçeneğin var.
                        <br />
                        Evde kolayca yapabileceğin egzersizler arasında, yoga, pilates ve kendi vücut ağırlığınla yapabileceğimiz antrenmanlar bulunuyor. Egzersiz bantları ve ağırlıklarla da tüm vücut kaslarını çalıştırabilirsin.
                        <br />
                        Hafif tempolu kardiyo egzersizlerin bağışıklığa cok faydalı olduğu biliniyor. Ev içinde yapacağın kardiyo egzersizleri hareketli bir yaşam sürmeni sağlayıp bağışıklığını destekleyebilirsin.
                        <br />
                        Evde en iyi şekilde spor yapabilmek için MACFit’in Instagram hesabını ve Youtube kanalını takip ederek çeşitli online derslere katılabilirsin.
                    </p>
                </div>

                <div class="card-body">
                    <h4 class="card-title">Stres Seviyene Dikkat Et</h4>
                </div>
                <div class="card-body" style="text-align:center;">
                    <p class="card-text">
                        Stres bağışıklığımızın başlıca düşmanlarından biri. Stres ile birlikte bağışıklık sistemimiz zayıflamaya başlıyor, <br />
                        bu sebeple stres kontrolü çok önemli. Müzik dinlemek, resim yapmak, yoga gibi aktiviteler ve en önemlisi düzenli egzersiz, stresini azaltmaya yarayacak. <br />
                        Bunlar arasında sana en uygun olana yönelmelisin. Bunun yanı sıra, Magnezyum,
                        Omega-3 ve B vitaminlerinin stres kontrolünde destek olduğu da biliniyor.
                    </p>
                </div>

                <div class="card-body">
                    <h4 class="card-title"> Yeterli Uyumaya Dikkat Et</h4>
                </div>
                <div class="card-body" style="text-align:center;">
                    <p class="card-text">
                        Gerekenden daha az uyumak, aydınlık bir ortamda uyumak, geç saatlerde uyumak gibi alışkanlıklar stres hormonlarının artmasına sebep oluyor.<br />
                        Üstelik bunlar vücudunun yeteri kadar dinlenememesine ve gün içinde aldığı besinleri doğru şekilde işleyememesine de neden olabiliyor. <br />
                        Uyumak için 22:30 -23:30 saatlerini geçirmemeye çalışarak, günde 7 saatlik kaliteli bir uyku uyumaya özen göstermelisin.<br />
                    </p>
                </div>


                <div class="card-body">
                    <h2 class="card-title">Bağışıklığını Güçlendirmenin Formülü</h2>
                </div>
                <div class="card-body" style="text-align:center;">
                    <p class="card-text">
                        Özetleyecek olursak güçlü bir bağışıklık sistemi için dikkat etmen gerekenler:<br />

                        – Düzenli uyku<br />

                        – Egzersiz<br />

                        – Omega-3 (Haftada 2-3 gün yağlı balık, gerekirse besin desteği)<br />

                        – Günde 4-5 porsiyon sebze ve meyve<br />

                        – Günde 30 gram çiğ kuruyemiş<br />

                        – Glisemik indeksi düşük besinler<br />

                        Bütün bunlara ek olarak, gün içinde kilonun 0,03 katı miktarda su tüketmen de çok önemli
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<hr />
<!-- Footer -->
<footer class="page-footer section-gap-half bg-dark w-100 pl-5 pr-5 pt-4 pb-4">

    <!-- Footer Elements -->
    <div class="container">

        <!-- Call to action -->
        <ul class="list-unstyled list-inline text-center py-2 ">
            <li class="list-inline-item text-light ">
                <h5 class="mb-1">Ücretsiz Kayıt Ol</h5>
            </li>
            <li class="list-inline-item ">
                <a href="/Users/Login" class="btn btn-outline-light btn-rounded">Giriş Yap</a>
            </li>
        </ul>
        <!-- Call to action -->

    </div>
    <!-- Footer Elements -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-4">
        © 2020 EduGym Tüm Hakları Saklıdır :
        <a href="https://www.edugym.com/"> edugym.com</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
