
@{
    ViewBag.Title = "Office";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section>
    <img class="d-block w-100" src="~/Content/Images/Screenshot_8.png" style="width:100%!important" />
</section>

<section style="background-color:gold; text-align:center!important;">
    <div class="">
        <button class="btn" style=" border:none; background-color:gold; text-align: center; text-decoration: none;  font-size: 20px; font-weight: bold; font-family:'Segoe UI Historic'; ">FITNESS</button>-
        <button class="btn" style=" border:none; background-color:gold; text-align: center; text-decoration: none;  font-size: 20px; font-weight: bold; font-family:'Segoe UI Historic'; ">BESLENME</button>-
        <button class="btn" style=" border:none; background-color:gold; text-align: center; text-decoration: none;  font-size: 20px; font-weight: bold; font-family:'Segoe UI Historic'; ">YASAM</button>
    </div>
</section>
<br />
<section>
    <div class="container">
        <div class="row">
            <div class="card text-center col-lg-12 ">

                <div class="card-body">
                    <h2 class="card-title">
                        Ofis masasında elin sürekli abur cubura gidiyorsa bir de bu sağlıklı atıştırmalıkları dene!
                    </h2>
                </div>
                <div class="card-body" style="text-align:center;">
                    <p class="card-text">
                        Belki de kilo alma riskiyle en fazla karşı karşıya geldiğin yer ofis. Ne de olsa haftanın büyük bir kısmını orada geçiriyorsun ve kimi zaman stresten, <br />
                        kimi zaman duygusal açlıktan kimi zaman ise aynı ortamı paylaştığın iş arkadaşlarınla sosyalleşmek adına istemeden de olsa abur cubura yönelebiliyorsun.<br />

                        Elbette uzun saatler kaldığın ofiste bir şeyler atıştırman doğal ve hatta gerekli. Ancak bunların sağlıklı seçenekler olmasına çok dikkat etmelisin. Ayrıca sağlıklı besinler de olsalar tükettiğin porsiyonların büyüklüğü de çok önemli.
                        <br />
                        İşte seni karbonhidrat, şeker ve yağ zengini besinlerden uzak tutacak, kan şekeri dengeni bozmayacak atıştırmalıklar…
                        <br />
                        Bir küçük kutu yoğurt ve yeşil elma<br />
                        Bir elma, bir avuç badem veya fındık<br />
                        Şekersiz sütlü kahve ile 4-5 adet kuru kayısı<br />
                        Birkaç adet kepekli grisini ya da bir dilim tam buğday ekmeği ve bir dilim süzme peynir<br />
                        Bir kase yoğurt ve iki kaşık yulaf ezmesi<br />
                        Bir su bardağı kefir ile iki avuç kadar çiğ badem, fındık veya 2 adet ceviz<br />
                        Limon suyu soslu havuç ve salatalık çubukları<br />
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>
<hr />
<!-- Footer -->
<footer class="page-footer section-gap-half bg-dark w-100 pl-5 pr-5 pt-4 pb-4">

    <!-- Footer Elements -->
    <div class="container">

        <!-- Call to action -->
        <ul class="list-unstyled list-inline text-center py-2 ">
            <li class="list-inline-item text-light ">
                <h5 class="mb-1">Ücretsiz Kayıt Ol</h5>
            </li>
            <li class="list-inline-item ">
                <a href="/Users/Login" class="btn btn-outline-light btn-rounded">Giriş Yap</a>
            </li>
        </ul>
        <!-- Call to action -->

    </div>
    <!-- Footer Elements -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-4">
        © 2020 EduGym Tüm Hakları Saklıdır :
        <a href="https://www.edugym.com/"> edugym.com</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
